<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <h1>Home page  <%= 55 + 9 %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Aut, harum maiores placeat illum neque et dignissimos
          nam nemo accusamus tempora sunt molestiae architecto illo.
         Eos perspiciatis mollitia ipsam labore laboriosam?</p>
</body>
</html>